.flashcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
}

.pronouns {
    text-align: right;
    font-weight: normal;
}

.conjugations {
    text-align: left;
    font-weight: bold;
}