.flashcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pronoun {
  text-align: right;
  font-style: normal;
}

.conjugation {
  text-align: left;
  font-weight: bold;
}
